<%= form_for [topic, post, post.comments.new] do |f| %>
  
  <br/>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group form-group-indent">
        <%= f.label :comment %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter commentary" %>  
      </div>

      <div class="form-group form-group-indent">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    </div>
  </div>

<% end %>