@import "bootstrap";

// Users
.user-info {
  margin: 9px 9px 0 0;
}

// Welcome
.nav {
  margin-top: 5px;
}

.jumbotron {
  background-color: #e5e5ff;
}

// Posts
.post-border {
  border: 1px solid #dedeff;
  border-radius: 5px;
  background-color: #f8f8ff;
  margin: 5px 0;
  padding: 5px;
}

// Topics
.num-posts {
  margin-left: 3px;
  color: #889;
}

.topic-image-indent {
  margin-left: 10px;
}
